<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="Login.Properties.Settings.SA45Team03BConnectionString" connectionString="Data Source=MICHAEL-GAMINGP;Initial Catalog=SA45Team03B;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SA45Team03BEntities" connectionString="metadata=res://*/LibraryModel.csdl|res://*/LibraryModel.ssdl|res://*/LibraryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LOCAL);initial catalog=Dafesty;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LibraryEntities" connectionString="metadata=res://*/LibraryModel1.csdl|res://*/LibraryModel1.ssdl|res://*/LibraryModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MICHAEL-GAMINGP;initial catalog=SA45Team03B;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SA45Team03BEntities1" connectionString="metadata=res://*/SA45Team03BModel1.csdl|res://*/SA45Team03BModel1.ssdl|res://*/SA45Team03BModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MICHAEL-GAMINGP;initial catalog=SA45Team03B;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SA45Team03BEntities2" connectionString="metadata=res://*/SA45Team03BModel1.csdl|res://*/SA45Team03BModel1.ssdl|res://*/SA45Team03BModel1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MICHAEL-GAMINGP;initial catalog=SA45Team03B;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>